@import 'color';
/////////////////////////////
////////  common  ///////////
/////////////////////////////
.diamond {
  width: 5px;
  height: 5px;
  background-color: $main-blue;
  text-align: center;
  margin: 1.5em auto;
  transform: rotate(-45deg);
  &-w {
    background-color: $grey;
  }
}

.line {
  display: block;
  border: 0.5px solid $gold;
  width: 100%;
  margin: 1em auto 0;
  text-align: center;
}

.section-title {
  padding: 1em 0;
}

.sub-title {
  font-weight: 500;
  font-size: 1.1em;
  color: $gold;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: $light-grey;
  margin-top: -0.8em;
  max-width: 150px;
}

.text-button {
  border-bottom: 2px solid $main-blue;
  padding-bottom: 0.2em;
  font-weight: 600;
}

.small-caption {
  opacity: 0.8;
  font-size: 0.8em;
}


/* scroll-right-button-motion */

@keyframes to-right {
  0% {
    margin-right: 0px;
  }
  50% {
    margin-right: 6px;
  }
  100% {
    margin-right: 2px;
  }
}

@keyframes to-left {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -6px;
  }
  100% {
    margin-left: -2px;
  }
}

.scroll-right {
  animation: to-right 0.6s ease-in-out infinite running;
}

.scroll-left {
  animation: to-left 0.6s ease-in-out infinite running;
}

/////////////////////////////
//////// section-1///////////
/////////////////////////////
#section-1 {
  .diamond {
    background: $gold;
  }
}

.main-type {
  position: absolute;
  width: 100%;
  top: 18%;
  @media(min-width: 550px) {
    width: 85%;
    top: 15%;
  }
  svg {
    fill: $gold;
    &:nth-child(1) {
      margin-left: -0.5em;
    }
    &:nth-child(2) {
      margin-top: -2.5em;
      margin-right: -0.5em;
      @media(min-width: 550px) {
        margin-top: -3em;
        margin-right: -8em;
        transform: scale(0.9);
      }
    }
  }
}

.position-parent {
  position: relative;
  .position-child {
    position: absolute;
    bottom: 2.5em;
    left: 0;
    right: 0;
  }
}

.text-box {
  max-width: 90%;
  margin: 0 auto;
  color: $gold;
  font-weight: 400;
  &:last-child {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
}

/////////////////////////////
//////// section-2///////////
/////////////////////////////
.flower {
  fill: $gold;
  width: 25%;
}

.text-box__greeting {
  padding: 1em 0;
  &:last-child {
    font-weight: 500;
    font-size: 1.1em;
  }
}

/////////////////////////////
//////// section-3///////////
/////////////////////////////
.swipe {
  margin-bottom: 1em;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 472px;
  height: 700px;
}

.swiper-pagination {
  &-bullet {
    width: 6px !important;
    height: 6px !important;
    background: $white !important;
    opacity: 0.4 !important;
    &-active {
      opacity: 1 !important;
    }
  }
}

/////////////////////////////
//////// section-4///////////
/////////////////////////////
.map {
  padding-bottom: 2em;
  .map-round {
    border: 1.5px solid #eaeaea;
    width: 100%;
  }
  &-button {
    font-weight: bold;
  }
}

.button-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.location-info {
  margin: 3em 0;
  padding: 1.2em;
  color: $dark-grey;
  font-family: 'Noto Sans KR' !important;
  background: rgba(242, 242, 242, 0.8);
  border-radius: 0.2em;
}

.share-button {
  margin: 1.5em 0 0;
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid $main-blue;
  border-bottom: 1px solid $main-blue;
  font-weight: bold;
}
.only-mobile {
  @media (min-width: 550px) {
    display: none;
  }
}

/////////////////////////////
////////  gallery ///////////
/////////////////////////////
.gallery-header {
  width: 100%;
  height: 520px;
  display: table;
  &-container {
    width: 100%;
    height: 90%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  &-title {
    margin: 0;
    line-height: 1;
    left: 0;
    right: 0;
    top: 78px;
    text-align: center;
    position: absolute;
    font-size: 35px;
  }
  &-subtitle {
    font-size: 0.5em;
    color: #777;
    letter-spacing: 3.2px;
    font-weight: 400;
    font-family: sans-serif;
  }
  .title-pic {
    width: 250px;
    height: 280px;
  }
}

.area-header {
  padding: 2em 0;
  &-title {
    font-size: 30px;
    font-weight: 400;
  }
  &-line {
    display: block;
    margin: 2em auto;
    height: 50px;
    border-left: 1px solid #111;
    width: 0%;
  }
  &-description {
    padding: 1em 0;
    width: 85%;
    margin: 0 auto;
    .caption {
      opacity: 0.5;
      font-size: 0.9em;
    }
  }
}

.pic {
  padding: 1em 0 4em;
  text-align: center;
  line-height: 0;
  &-100 {
    width: 100%;
  }
  &-80 {
    width: 85%;
    margin: 0 auto;
  }
  &-50 {
    width: 100%;
    display: flex;
    align-items: center;
    >div {
      width: 50%;
      &:first-child {
        margin-right: 0.2em;
      }
      &:last-child {
        margin-left: 0.2em;
      }
    }
  }
  &-60-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    >div:last-child {
      width: 70%;
    }
  }
  &-60-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    >div:first-child {
      width: 70%;
    }
  }
}

.illust {
  width: 80%;
  margin: 2em auto 1em;
}

.local-header {
  position: fixed;
  padding: 1em 1.5em;
  z-index: 999;
  >a {
    width: 2em;
    font-size: 1.25em;
  }
}

/////////////////////////////
//////// footer  ///////////
/////////////////////////////
.footer {
  font-size: 0.8em;
  color: $medium-grey;
  padding-top: 3em;
}

/////////////////////////////
////////   about ///////////
/////////////////////////////
.paragraph-box {
  padding: 1em 0;
}

/////////////////////////////
////////pre loader///////////
/////////////////////////////
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-grey;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 60px;
  margin: -30px 0 0 -40px;
  .lines {
    width: 80px;
    height: 40px;
    position: absolute;
    .lline {
      width: 80px;
      height: 2px;
      background-color: $main-blue;
      position: absolute;
      clip: rect(0, 0, 20px, 0);
      &.lline-1 {
        top: 0;
        animation: slide 2s ease 0s infinite;
      }
      &.lline-2 {
        top: 10px;
        animation: slide 2s ease 0.25s infinite;
      }
      &.lline-3 {
        top: 20px;
        animation: slide 2s ease 0.5s infinite;
      }
    }
  }
  .loading-text {
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    color: $main-blue;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 3px;
    line-height: 1.7;
    height: 10px;
    animation: fade 1s ease 0s infinite;
  }
}

@keyframes slide {
  0% {
    clip: rect(0, 0, 20px, 0);
  }
  30% {
    clip: rect(0, 80px, 20px, 0);
  }
  50% {
    clip: rect(0, 80px, 20px, 0);
  }
  80% {
    clip: rect(0, 80px, 20px, 80px);
  }
  100% {
    clip: rect(0, 80px, 20px, 80px);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}